h1 {
    color: black;
    text-align: center;
}

.body-color {
    background-color: cyan;
}

.div-body {
    background-color: white;
    width: 20%;
    height: 70px;
    padding: 50px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.div-welcome{
    color: red;
}

